# Auto detect text files and perform LF normalization
* text=auto
*.txt eol=lf
*.png.import eol=lf
*.gd eol=lf
*.gd.uid eol=lf
*.tres eol=lf
*.tscn eol=lf
*.cfg eol=lf
*.gpl eol=lf
*.md eol=lf
*.gdshader eol=lf
*.gdshader.uid eol=lf
